<mat-card class="scroller">
  <div class="example-card d-flex justify-content-center" >
    <img mat-card-image src="../../../../assets/img/logo/logo.PNG" style="width: 100px;" alt="Photo of a Shiba Inu">
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image">
      </div> -->
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Tehseen</mat-card-subtitle>
    </mat-card-header>
  </div>
  <mat-divider></mat-divider>

  <mat-card-content >
    <p class="mt-2  text-center" >
      Angular 10+ | TypeScript | NgRx | PrimeNGSome quick example text to build on the card title and make up the bulk of the card's
      content.Some quick example text to build on the card title and make up the bulk of the card's
      content.Some quick example text to build on the card title and make up the bulk of the card's
      content
    </p>
    <p class="mt-2  text-center" >
      Angular 10+ | TypeScript | NgRx | PrimeNGSome quick example text to build on the card title and make up the bulk of the card's
      content.Some quick example text to build on the card title and make up the bulk of the card's
      content.Some quick example text to build on the card title and make up the bulk of the card's
      content
    </p>
    <p class="mt-2  text-center" >
      Angular 10+ | TypeScript | NgRx | PrimeNGSome quick example text to build on the card title and make up the bulk of the card's
      content.Some quick example text to build on the card title and make up the bulk of the card's
      content.Some quick example text to build on the card title and make up the bulk of the card's
      content
    </p>
    <p class="mt-2  text-center" >
      Angular 10+ | TypeScript | NgRx | PrimeNGSome quick example text to build on the card title and make up the bulk of the card's
      content.Some quick example text to build on the card title and make up the bulk of the card's
      content.Some quick example text to build on the card title and make up the bulk of the card's
      content
    </p>
    <p class="mt-2  text-center" >
      Angular 10+ | TypeScript | NgRx | PrimeNGSome quick example text to build on the card title and make up the bulk of the card's
      content.Some quick example text to build on the card title and make up the bulk of the card's
      content.Some quick example text to build on the card title and make up the bulk of the card's
      content
    </p>
    <p class="mt-2  text-center" >
      Angular 10+ | TypeScript | NgRx | PrimeNGSome quick example text to build on the card title and make up the bulk of the card's
      content.Some quick example text to build on the card title and make up the bulk of the card's
      content.Some quick example text to build on the card title and make up the bulk of the card's
      content
    </p>
    
  </mat-card-content>
 
</mat-card>